<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<bean id="triangle" class="org.ribhu.javabrains.Triangle" name="triangle-name">

<!-- 		<property name="pointA" ref="zeroPoint"></property>
		<property name="pointB" ref="point2"></property> 
		<property name="pointC" 	ref="point3"></property>
 -->		
 		<property name="points">
 		
 			<list>
 			
 				<ref bean="zeroPoint" />
 				<ref bean="point2" />
 				<ref bean="point3" />
 			
 			</list>
 			
 		</property>
 
<!-- 		<property name="pointA" ref= "zeroPoint">
		
		</property>

		<property name="pointB">

			<bean class="org.ribhu.javabrains.Point">

				<property name="x" value="-20"></property>
				<property name="y" value="0"></property>

			</bean>

		</property>

		<property name="pointC">

			<bean class="org.ribhu.javabrains.Point">

				<property name="x" value="20"></property>
				<property name="y" value="0"></property>

			</bean>

		</property>
 -->
		<!-- <property name="type" value="Equilateral"> </property> -->

		<!-- <constructor-arg type = "int" value="20"> </constructor-arg> <constructor-arg 
			type = "java.lang.String" value="Equilateral"> </constructor-arg> -->

		<!-- <constructor-arg index = "1" value="20"> </constructor-arg> <constructor-arg 
			index = "0" value="Equilateral"> </constructor-arg> -->

	</bean>

	<bean id="zeroPoint" class="org.ribhu.javabrains.Point">
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>

	<bean id="point2" class="org.ribhu.javabrains.Point"> 
	
		<property name="x" value="-20"></property>
		<property name="y" value="0"></property>
	
	</bean>
	
	<bean id="point3" class="org.ribhu.javabrains.Point">

		<property name="x" value="20"></property>
		<property name="y" value="0"></property>

	</bean>

 
 	<alias name="triangle" alias="triangle-alias"/>
 
</beans>